header {
    border: black 2px solid;
}

nav {
    border: black 2px solid;
}

main {
    border: black 2px solid;
}

footer {
    border: black 2px solid;
}

.box {
    max-width: 1000px;
    margin: 50px auto;
}
